# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/

.idea/*

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out

# Node
/client/node_modules
/client/npm-debug.log
/client/yarn-error.log

# IDEs and editors
/client/.idea/
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/
/client/*.sublime-workspace

# Visual Studio Code
/client/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/client/.history/*

# Miscellaneous
/client/.angular/cache
/client/.sass-cache/
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/client/testem.log
/client/typings

# System files
/client/.DS_Store
/client/Thumbs.db
