<tui-root>
  <mat-toolbar class="navbar" color="primary">
    <button tuiButton tuiButtonVertical style="min-width: 0" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>OWLMuse</span>
    <span class="spacer"></span>
    <button tuiButton routerLink="/">Home</button>
    <button tuiButton routerLink="players">Players</button>
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" opened="false" [fixedInViewport]="true">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 0px 5px">
          <h2>Menu</h2>
          <button tuiButtonClose tuiIconButton appearance="glass" size="xs" (click)="sidenav.toggle()">Close</button>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
          <h2>Content</h2>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</tui-root>