<tui-root>
  <mat-toolbar class="navbar" color="primary">
    <button tuiButton tuiButtonVertical style="min-width: 0" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>OWLMuse</span>
    <span class="spacer"></span>
    <button tuiButton routerLink="/">Home</button>
    <button tuiButton routerLink="players">Players</button>
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" opened="false" [fixedInViewport]="true">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 0px 5px 0px 16px">
          <h1>Menu</h1>
          <button tuiButtonClose tuiIconButton appearance="glass" size="xs" (click)="sidenav.toggle()">Close</button>
        </div>
        <h2 class="nav-category">Matches and History</h2>
        <mat-nav-list>
          <a mat-list-item href="https://liquipedia.net/overwatch/Overwatch_League" target="_blank" (click)="sidenav.toggle()">
            <span style="color: white">Overwatch League</span>
          </a>
          <a mat-list-item href="https://liquipedia.net/overwatch/Overwatch_Champions_Series" target="_blank" (click)="sidenav.toggle()">
            <span style="color: white">Overwatch Champions Series</span>
          </a>
        </mat-nav-list>
        <h2 class="nav-category">Teams</h2>
      </mat-sidenav>
      <mat-sidenav-content style="padding: 0px 10px;">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</tui-root>