.spacer {
  flex: 1 1 auto;
}

.navbar {
  left: 0;
  top: 0;
  right: 0;
  background-color: #526ed3;
  color: white;
  font-weight: 700;
}

.mat-sidenav {
  background-color: #6c86e2;
  color: white;
  min-width: fit-content;
  max-width: 200px;
}

.nav-category {
  color: white;
  padding: 0px 5px 0px 16px;
}