@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000867;
  --background: #ffffff;
  --primary-dark: #99a2ff;
  --background-dark: #000000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: sticky;
  top: 0px;
  right: 0px; 
  left: 0px;
}